@model Sum
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <h1>@Model.ValueOne + @Model.ValueTwo = </h1>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.InputValue)

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="发送" class="btn btn-default" onsubmit="return false"/>
        </div>
    </div>


    </div>
